.demo-block {
  width: 100%;
  height: auto;
  padding: 50px;
  box-sizing: border-box;
  border: 1px solid #797979;
  border-radius: 4px;
}

.line {
  position: relative;
  height: 24px;
  font-family: SourceHanSansCN-Normal;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  color: #797979;
  text-align: center;
  letter-spacing: 0;

  &::before {
    position: absolute;
    top: 50%;
    left: 16px;
    width: calc(50% - 60px);
    height: 1px;
    content: "";
    background: linear-gradient(270deg, #797979 0%, rgb(121 121 121 / 0%) 100%);
  }

  &::after {
    position: absolute;
    top: 50%;
    right: 16px;
    width: calc(50% - 60px);
    height: 1px;
    content: "";
    background: linear-gradient(90deg, #797979 0%, rgb(121 121 121 / 0%) 100%);
  }
}
