.underline-slide-in {
	position: relative;
	text-decoration: none;
}

.underline-slide-in:hover::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 1px;
	background-color: currentColor;
	transform: scaleX(0);
	transform-origin: left;
	animation: slideIn 0.3s ease-in-out forwards;
}

@keyframes slideIn {
	to {
		transform: scaleX(1);
	}
	from {
		transform: scaleX(0);
	}
}

/* 应用动画到元素 */
.fade-in-down {
	animation: fadeInDown 1.5s ease forwards; /* 动画名称 | 时长 | 缓动函数 | 保持结束状态 */
	opacity: 0; /* 初始透明（确保动画前不可见） */
}

@keyframes fadeInDown {
	0% {
		opacity: 0; /* 初始完全透明 */
		transform: translateY(-20px); /* 初始位置向上偏移 20px */
	}
	25% {
		opacity: 0.25;
		transform: translateY(-15px);
	}
	50% {
		opacity: 0.5;
		transform: translateY(-10px);
	}
	75% {
		opacity: 0.75;
		transform: translateY(-5px);
	}
	100% {
		opacity: 1; /* 最终完全不透明 */
		transform: translateY(0); /* 移动到原始位置 */
	}
}
